/a1111-sd-webui-tagcomplete
/sd-webui-additional-networks
/sd-webui-images-browser
/sd-webui-model-converter
/stable-diffusion-webui-localization-zh_CN
/stable-diffusion-webui-wd14-tagger
put extensions here.txt